.main_page_container {
  background-color: lightgrey;
}
nav {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
}

nav a {
  padding: 10px;
}
.search_bar {
  padding: 10px;
  background-color: lightcoral;
}
h3 {
  background-color: lightyellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
