.main_page_container {
  background-color: lightgrey;
}
nav {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
}

nav a {
  padding: 10px;
}
.search_bar {
  padding: 10px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h3 {
  background-color: lightyellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  display: flex;
}
.search_results {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form {
  display: flex;
  justify-content: space-between;
}
